.slideShow section {
  width: 40em;
  height: 25em;
  margin: 0 auto;
  position: relative;
  z-index: 6;
}
.slideShow a {
  text-decoration: none;
  color: white;
}

.slideShow li {
  width: 500px;
  height: 281px;
  background: #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.slideShow li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.items {
  position: absolute;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;
}

.left-pos {
  opacity: 0.3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: 0.05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.right-pos {
  opacity: 0.3;
  margin-left: 21em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.slideShow span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}
.slideShow input {
  background-color: transparent;
  color: #fff;
  cursor: pointer;

  text-transform: uppercase;
  margin: 5px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.slideShow input:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
